*{
    margin: 0;
    padding: 0;
}

header{
    width:100%;
    height:15vh;
    background-image:linear-gradient(to right, lightskyblue, rgb(174, 221, 251));
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
main{
    background-color:rgb(210, 233, 252);
    min-height: 85vh;
    width: 100%;

}
#container{
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 6vh;
    display:grid;
    justify-content:center;
    column-gap: 40px;
    display:none;
    grid-template-columns: 26vw 26vw;
    grid-template-rows: auto 170px;
    grid-template-areas:
    "album image"
    "basicinfo basicinfo"
    "musicas musicas"
}
#instrucao{
    position: relative;
    text-align:center;
    top: 6vh;
    font-size: 1.7rem;
}

#figura{
    grid-area: image;
}
#album{
    grid-area: album;
    font-size: 1.6rem;
}

#basicInfo{
    grid-area: basicinfo;
    font-size:1.24rem;
    line-height: 2.7rem;
}
#musicas{
    grid-area: musicas;
    font-size: 1.2rem;
    line-height: 25px;
}

.pesquisa{
    position: relative;
    left: 6vw;
    top: 1.3vh;
    width:92vw;
    line-height:4.3vh;
}
span{
    font-size:1.18em;
    font-weight:bold;
}
label{
    font-size:1.3rem;
}
input{
    border-radius:4px;
    height:2.7vh;
    font-size:1.1rem;
}
#procura{
    height:3.3vh;
    width: 65px;
    font-size:1.07rem;
    border-radius:3px;
    border: 1.6px solid black;

}
a{
    word-break:break-all;
}

figcaption{
  font-size: 17px;
}
#linkartista{
    font-size:1.05rem;
}
#artistaelink{
    line-height:19px;
    margin-top: 22px;
}

@media (max-width: 1000px){
    #container{
        justify-content: space-evenly;
        grid-template-rows: auto;
        column-gap:0px;
        row-gap: 30px;
    }
    img{
    width:250px;
    height:250px;
    }
    a{
        font-size:0.95rem;
    }
    input{
        width:150px;
    }
}
@media (max-width: 720px){
    #container{
        row-gap: 30px;
        column-gap: 0;
        grid-template-areas:
        "album album"
        "image image"
        "basicinfo basicinfo"
        "musicas musicas"
    }
    #linkmusica{
        font-size: 0.9rem;
    }
}
